<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="ft_sensor_gazebo" params="parent name type">
  
  <gazebo> 
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"> 
       <robotNamespace>${name}</robotNamespace>
       <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin> 
  </gazebo> 

    <gazebo reference="${name}_${type}_base">
			<gravity>true</gravity>
		</gazebo>

		<gazebo reference="${name}_${type}_measure">
			<gravity>true</gravity>
		</gazebo>

		<gazebo reference="${parent}_${name}_measure_joint">
      <provideFeedback>true</provideFeedback>
    </gazebo>

    <!-- The ft_sensor plugin  -->
    <gazebo>
        <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>1000.0</updateRate>
        <topicName>${parent}_${name}/ft_sensor_topic</topicName> 
        <jointName>${parent}_${name}_measure_joint</jointName>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.003</stddev> <!-- change this to simulate noise  0.003--> 
        </noise>
        </plugin>
    </gazebo>

	</xacro:macro>

</robot>
