<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="Interface2" value="ForceTorqueSensorInterface"/> 

	<xacro:macro name="ft_sensor_transmission" params="parent name type">
   
      <ros>
       <plugin name="force_torque_sensor_controller" filename="libforce_torque_sensor_controller.so"> 
        <!-- <plugin name="ros_controllers" filename="libforce_torque_sensor_controller.so">  -->
          <robotNamespace>${name}</robotNamespace>   
       </plugin>
     </ros>  


   <ros>
   <transmission name="${parent}_${name}_trans">
        <robotNamespace>${name}</robotNamespace>  
        <type>transmission_interface/SimpleTransmission</type>
   
      <joint name="${parent}_${name}_measure_joint">
        <robotNamespace>${name}</robotNamespace>  
            <hardwareInterface>${Interface2}</hardwareInterface> 
            <hardwareInterface>EffortJointInterface</hardwareInterface> 
       </joint>  
      <actuator name="${name}_0_motor">
         <hardwareInterface>EffortJointInterface</hardwareInterface> 
        <mechanicalReduction>1</mechanicalReduction>
        
      </actuator>
    </transmission>
  </ros>

   

  
     

    

	</xacro:macro>

</robot>
