<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- <xacro:property name="Interface2" value="ForceTorqueSensorInterface"/>  -->

	<xacro:macro name="ft_sensor_transmission" params="parent name type">
   
       <plugin name="force_torque_sensor" filename="libforce_torque_sensor_sim_ros_control.so"> 

          <robotNamespace>/${name}/</robotNamespace>  

       </plugin>


	</xacro:macro>

</robot>
