<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Common tools: PI, inertias of a cuboid and cylinder -->
	<xacro:property name="M_PI" value="3.1415926535897931"/>
	<xacro:macro name="cuboid_inertia_def" params="width height length mass">
	<inertia ixx="${mass * (height * height + length * length) / 12}"
			 iyy="${mass * (width * width + length * length) / 12}"
			 izz="${mass * (width * width + height * height) / 12}"
			 ixy="0" iyz="0" ixz="0"/>
	</xacro:macro>
	<xacro:macro name="cylinder_inertia_def" params="radius length mass">
	<inertia ixx="${mass * (3 * radius * radius + length * length) / 12}"
			 iyy="${mass * radius* radius / 2}"
			 izz="${mass * (3 * radius * radius + length * length) / 12}"
			 ixy="0" iyz="0" ixz="0"/>
	</xacro:macro>

	<!-- ############# -->
	<!-- Sensor models -->
	<!-- ############# -->

	<!-- Nano17: http://www.ati-ia.com/products/ft/ft_models.aspx?id=Nano17 -->
	<xacro:property name="nano17">
			<inertial>
				<mass value="0.00907"/>
				<origin xyz="0 0 0.00725"  />
				<xacro:cylinder_inertia_def radius="0.085" length="0.0145" mass="0.00907"/>
			</inertial>
			<visual>
				<!-- origin xyz="0 0 0.00725" rpy="0 0 0"/ -->
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<!-- cylinder radius="0.0085" length="0.0145"/ -->
					<mesh filename="package://force_torque_sensor/model/meshes/nano17.stl"/>
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0.00725" rpy="0 0 0"/>
				<geometry>
					<cylinder radius="0.0085" length="0.0145"/>
				</geometry>
			</collision>
	</xacro:property>
	<xacro:property name="nano17_measure_frame">
		<origin xyz="0 0 0.0145" rpy="0 0 0"/>
	</xacro:property>



</robot>
