<launch>
  
  <node pkg="nano_17" name="ftsensor_CLIENT" type="ftsensor_CLIENT" respawn="true" output="screen">
      <param name="ip" value="192.168.0.201"/>
      <param name="frame_ft" value="/sensor_top_frame" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="ftsensor_FRAME" args="1 0 0 0 0 0 /world /sensor_top_frame 500" />

   
</launch>