<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cylinder">

	<xacro:macro name="cylinder_inertia_def" params="radius length mass">
	<inertia ixx="${mass * (3 * radius * radius + length * length) / 12}"
			 iyy="${mass * (3 * radius * radius + length * length) / 12}"
			 izz="${mass * radius* radius / 2}"
			 ixy="0" iyz="0" ixz="0"/>
	</xacro:macro>

	<link name="cylinder">
		<inertial>

			<!-- cylindrical shell : Izz=m*r^2; Ixx=Iyy=1/12*m*(6*r^2+h^2) -->
			<!-- solid cylinder : Izz=(m*r^2)/2; Ixx=Iyy=1/12*m*(3*r^2+h^2) -->
			<!-- <inertia  ixx="0.002385" ixy="0.00"  ixz="0.00" iyy="0.002385" iyz="0.00" izz="0.00027" /> -->

				<mass value="0.6"/>
				<origin xyz="0 0 0.15"  />
				<xacro:cylinder_inertia_def radius="0.03" length="0.3" mass="0.6" />
		</inertial>
		<visual>
			<origin xyz="0 0 0.15" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.3" radius="0.03"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0.15" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.3" radius="0.03"/>
			</geometry>
		</collision>
	</link>

	<gazebo reference="cylinder"> 
		 <selfCollide>true</selfCollide> 
        	  <maxContacts>100</maxContacts>  
	     <gravity>true</gravity>
 		<mu1>1</mu1>
	     <mu2>1</mu2> 
		<kp>100000000</kp>
	  <kd>1000.0</kd> 
	 </gazebo>

</robot>